{% extends 'baseA.html.twig' %}

{% block title %}Hello EvenementAdminController!{% endblock %}

{% block body %}

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
          CT
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Creative Tim
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="./dashboard.html">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="./icons.html">
              <i class="now-ui-icons education_atom"></i>
              <p>Icons</p>
            </a>
          </li>
          <li>
            <a href="./map.html">
              <i class="now-ui-icons location_map-big"></i>
              <p>Maps</p>
            </a>
          </li>
          <li class="active ">
            <a href="./notifications.html">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>Evenement</p>
            </a>
          </li>
          <li>
            <a href="./user.html">
              <i class="now-ui-icons users_single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href="./tables.html">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>Table List</p>
            </a>
          </li>
          <li>
            <a href="./typography.html">
              <i class="now-ui-icons text_caps-small"></i>
              <p>Typography</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="./upgrade.html">
              <i class="now-ui-icons arrows-1_cloud-download-93"></i>
              <p>Upgrade to PRO</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
 <!-- Espacement -->
    <div style="margin-bottom: 20px;"></div>

    <!-- Partie 2 : Button d'ajout -->
    <div class="container" style="margin-bottom: 20px;">
        <div class="text-center">
                <a href="{{ path('app_evenement_new_admin', {'idp':evenements[0].pageRelation.idp}) }}" class="btn" style="background-color: #f99d26; border-radius: 30px; color: white; display: inline-block;">Créer un nouvel événement</a>
        </div>
    </div>

    <!-- Espacement -->
    <div style="margin-bottom: 40px;"></div>
<div class="content">
    <div class="row">
        {% for evenement in evenements %}
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="card-title">Evenement</h4>
                </div>
                <div class="card-body text-center">
                    <img src="{{ asset(evenement.photo) }}" class="card-img-top img-fluid" alt="..." style="height: 200px; object-fit: cover; border-radius: 30px;">
                </div>
                <div class="card-body">
                    <p class="card-text"><b>Noooom:</b> {{ evenement.nome }}</p>
                    <p class="card-text"><b>Catégorie: </b>{{ evenement.categoriee }}</p>
                    <p class="card-text"><b>Date: </b>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</p>
                    <p class="card-text"><b>Heure:</b> {{ evenement.heure ? evenement.heure|date('H:i:s') : '' }}</p>
                    <p class="card-text"><b>Nombre de places: </b>{{ evenement.nbrplaces }}</p>
                    <p class="card-text"><b>Page: </b>{{ evenement.page }}</p>
                    <p class="card-text"><b>Description:</b> {{ evenement.description }}</p>
                </div>
                <div class="card-footer d-flex justify-content-center" style="background-color: white; border-radius: 30px;">
                 <div>
                    <a href="{{ path('app_evenement_edit_admin', {'ide': evenement.ide}) }}" class="btn" style="background-color: #f99d26; border-radius: 30px; border: 2px solid white; color: white;">Modifier</a>
                    <a href="{{ path('app_evenement_delete_admin', {'ide': evenement.ide}) }}" class="btn" style="background-color: #f99d26; border-radius: 30px; border: 2px solid white; color: white;">Supprimer</a>
                </div>
                <a href="{{ path('app_evenement_show_admin', {'ide': evenement.ide}) }}" class="btn" style="background-color: #f99d26; border-radius: 30px; border: 2px solid white; color: white;">Voir plus</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
      <footer class="footer">
        <div class=" container-fluid ">
          <nav>
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="http://presentation.creative-tim.com">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" id="copyright">
            &copy; <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>, Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Core JS Files -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Google Maps Plugin -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!-- Notifications Plugin -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
{% endblock %}
