{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <h1>Commentaires</h1>

    <table class="table">
    {% for commentaire in commentaires %}
        <thead>
            <tr>
                
                <th>{{ commentaire.usertRelation.nom }}  {{commentaire.usertRelation.prenom}} {{ commentaire.datecreation ? commentaire.datecreation|date('Y-m-d H:i:s') : '' }}</th>
             <p class="card-text"></p>

            </tr>
        </thead>
       <tbody>
    {% if commentaire %}
        <tr>
            <td>
                <div style="border-radius: 10px; border: 1px solid #ccc; padding: 10px;">
                    {{ commentaire.contenu }}
                </div>
            </td>
            <td>
    {{ include('commentaire_super_admin/_delete_form.html.twig') }}
                            <a href="{{ path('app_commentaire_edit_superadmin', {'idc': commentaire.idc, 'ide': commentaire.evenementRelation.ide}) }}">Éditer</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Voulez-vous ajouter un nouveau commentaire ?</td>
        </tr>
    {% endif %}
</tbody>

    {% endfor %}
    </table>

{% endblock %}
