{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <h1>Commentaires</h1>

    <table class="table">
    {% for commentaire in commentaires %}
        <thead>
            <tr>
                
                <th>{{ commentaire.usertRelation.nom }}  {{commentaire.usertRelation.prenom}} {{ commentaire.datecreation ? commentaire.datecreation|date('Y-m-d H:i:s') : '' }}</th>
             <p class="card-text"></p>

            </tr>
        </thead>
       <tbody>
    {% if commentaire %}
        <tr>
            <td>
                <div style="border-radius: 10px; border: 1px solid #ccc; padding: 10px;">
                    {{ commentaire.contenu }}
                </div>
            </td>
            <td>
  <div>
    <li>
        <a href="#" onclick="toggleSubMenu('lieuSubMenu')">  <span>PLUS ▼</span></a>
        <ul id="lieuSubMenu" class="sub-menu" style="display: none;"> <!-- Nested unordered list for sub-items with initial display set to none -->
            <li>    
                {{ include('commentaire/_delete_form.html.twig') }}
            </li>
            <li>     
                <a href="{{ path('app_commentaire_edit', {'idc': commentaire.idc, 'ide': commentaire.evenementRelation.ide}) }}">Éditer</a>
            </li>
        </ul>
    </li>
</div>

<script>
    function toggleSubMenu(subMenuId) {
        var subMenu = document.getElementById(subMenuId);
        subMenu.style.display = subMenu.style.display === 'none' ? 'block' : 'none';
    }
</script>

<style>
    .sub-menu-indicator {
        margin-left: 5px; /* Ajustez la marge selon vos besoins */
        font-size: 10px; /* Ajustez la taille de police selon vos besoins */
    }
    .sub-menu {
        background-color: #f2f2f2; /* Couleur de fond gris clair */
        padding: 5px; /* Ajoute un léger remplissage pour plus de lisibilité */
        border-radius: 5px; /* Ajoute des coins arrondis au menu */
    }
    .sub-menu li {
        list-style: none; /* Supprime les puces de la liste */
    }
</style>


            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Voulez-vous ajouter un nouveau commentaire ?</td>
        </tr>
    {% endif %}
</tbody>

    {% endfor %}
    </table>

{% endblock %}
