{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <h1>Commentaires</h1>

    <table class="table">
        {% for commentaire in commentaires %}
            <tr>
                <td>
                    <div style="border-radius: 10px; border: 1px solid #ccc; padding: 10px;">
                        {{ commentaire.contenu }}
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ commentaire.idc }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Options <!-- Ajoutez un libellé à l'intérieur du bouton -->
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ commentaire.idc }}">
                            <a class="dropdown-item" href="{{ path('app_commentaire_edit', {'idc': commentaire.idc, 'ide': commentaire.evenementRelation.ide}) }}">Éditer</a>
                            <a class="dropdown-item" href="#" onclick="document.getElementById('delete-form-{{ commentaire.idc }}').submit()">Supprimer</a>
                        </div>
                    </div>
                    <form id="delete-form-{{ commentaire.idc }}" action="{{ path('app_commentaire_delete', {'idc': commentaire.idc, 'ide': commentaire.evenementRelation.ide}) }}" method="post" style="display: none;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.idc) }}">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if commentaires is empty %}
        <p>Voulez-vous ajouter un nouveau commentaire ?</p>
    {% endif %}
    
 <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
    <script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>

    <!-- Main JS File -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
